//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';

html{
  @include font;
  background-color: grey-color-3;
}
body{
  padding: 20px;
  overflow-x: hidden;
  @include flex(flex-start, center, column);
  @include size(auto, auto);
}

.box{
  @include flex(flex-start, center, column);
  @include size(auto,960px);
  margin: auto;
  @media only screen and (max-width : 1080px) {
    width: 692px;
  }
  @media
  (-webkit-min-device-pixel-ratio: 2),
  (max-width: 1080) {
  font-size: 1.5em;
  }
  @media
  (-webkit-min-device-pixel-ratio: 2),
  (max-width: 600px) {
  font-size: 1em;
  }

  @media only screen and (max-width : 740px) {
    width: 90%;
  }
}

.cluster{
position: relative;
}

button{
  @include primary;
}

h1{
  font: $h1;
  font-size: 2.5em;
  margin-bottom: 0;
}

.success{
  @include primary;
  @include transition(all);
  background-color: black;
  position: absolute;
  pointer-events: none;
  transform: translate3d(0, -10px,0);
  opacity: 0;
}

.alt {
  color: $font-color-2;
}

p {
  margin-top: 0;
  font: $p-alt;
  font-weight: 400;
  white-space: pre-line;
  line-height: 150%;
  font-size: 1.2em;

  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  font-size: 1.2em;
  }
}


//media queries
