html {
  font: 300 14px/10px "nutanix_soft", san-serif;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  background-color: grey-color-3;
}

body {
  padding: 20px;
  overflow-x: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: auto;
  box-sizing: border-box;
}

.box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 960px;
  box-sizing: border-box;
  margin: auto;
}

@media only screen and (max-width: 1080px) {
  .box {
    width: 692px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (max-width: 1080) {
  .box {
    font-size: 1em;
  }
}

@media (-webkit-minn-device-pixel-ratio: 2), (max-width: 600px) {
  .box {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 740px) {
  .box {
    width: 100%;
  }
}

.cluster {
  position: relative;
}

button {
  border-radius: 4px;
  vertical-align: baseline;
  text-align: center;
  display: inline-block;
  padding: 11px 15px;
  color: #FFFFFF;
  font: 400 14px/10px "nutanix_soft", san-serif;
  border: none;
  text-decoration: none;
  background-color: #22A5F7;
}

button:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #2282E3;
}

button:active {
  color: #FFFFFF;
  background-color: #2068CA;
}

h1 {
  font: 200 29px/20px "nutanix_soft", san-serif;
  font-size: 2.5em;
  margin-bottom: 0;
  letter-spacing: -0.02em;
}

.success {
  border-radius: 4px;
  vertical-align: baseline;
  text-align: center;
  display: inline-block;
  padding: 11px 15px;
  color: #FFFFFF;
  font: 400 14px/10px "nutanix_soft", san-serif;
  border: none;
  text-decoration: none;
  background-color: #22A5F7;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: black;
  position: absolute;
  right: 0;
  pointer-events: none;
  transform: translate3d(0, -10px, 0);
  opacity: 0;
}

.success:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #2282E3;
}

.success:active {
  color: #FFFFFF;
  background-color: #2068CA;
}

.alt {
  color: #627386;
}

p {
  margin-top: 0;
  font: 300 14px/10px "nutanix_soft", san-serif;
  letter-spacing: -0.02em;
  white-space: pre-line;
  line-height: 150%;
  font-size: 1.2em;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  p {
    font-size: 1.2em;
  }
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

.multi-clusters {
  display: flex;
  align-items: "";
  justify-content: "";
  flex-direction: column;
  width: 100%;
}

.cluster {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  border-top: 1px solid #D5DAE0;
}

.right {
  text-align: right;
}
